body {

    background-image: url("./img/background.jpg");;
    margin: 0;
    padding: 0;
}

/* Different colors for fonts */
.red {
    color: #F92672;
}

.green {
    color: #A6E22E;
}

.blue {
    color: #66D9EF;
}

.purple {
    color: #AE81FF;
}

.orange {
    color: #FD971F;
}

.gray {
    color: #75715E;
}

.light-gray {
    color: #878376;
}

.yellow {
    color: #FFE792;
}

/* CSS for the navigation arrows to different sections */
.scroll {
    text-align: center;
    font-family: Consolas, monaco, monospace;
    font-weight: 400;
    color: white;
    padding-top: 30%;
    margin: 0px;
    font-size: 12px;
}

.arrow {
    color: white;
    font-size: 24px;
    margin : 0px;
    text-align: center;
    padding-bottom: 40px;
    cursor: pointer;
}

@media only screen and (min-width: 800px) and (max-width:1200){
    .header {
        padding-top: 120px;
        width: 400px;
    }
}

@media only screen and (min-width: 1201px){
    .scroll {
        font-size: 16px;
        padding-top: 160px;
    }

    .arrow {
        padding-bottom: 200px;
    }
}

/* CSS for the home page in header */
.header {
    padding-top: 40%;
    margin: auto;
    width: 80%;
    padding-left: 2%;
    font-size: 26px;
}

.intro {
    font-family: 'VT323', monospace;
    color: white;
    text-align: left;
}

.role1 {
    font-family: 'Josefin Slab', serif;
    color: #F92672;
    text-align: left;
}

.role2 {
    font-family: 'Josefin Slab', serif;
    color: #AE81FF;
    text-align: left;
}

.name {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: #A6E22E;
    text-align: left;
}

@media only screen and (min-width: 800px) and (max-width:1200){
    .header {
        padding-top: 120px;
        width: 400px;
    }
}

@media only screen and (min-width: 1201px){
    .header {
        padding-top: 120px;
        width: 400px;
    }
}

/* CSS for About section */
.about {
    width: 95%;
    padding-top: 50px;
    font-family: Consolas, monaco, monospace;
    font-size: 16px;
    padding-left: 5%;
    color: white;
    margin: auto;
    display: inline-block;
}

.line-num {
    font-size: 14px;
    padding-left: 5px;
    padding-right: 10px;    
}

.indent > .line-num {
    padding-left: 5px;
    padding-right: 30px;
}

.line-num2 {
    font-size: 14px;
    padding-right: 10px;
}

.indent > .line-num2 {
    padding-right: 20px;
}

@media only screen and (min-width: 800px) and (max-width:1200){
    .about {
        width: 1200px;
        padding-top: 100px;
        font-family: Consolas, monaco, monospace;
        font-size: 20px;
        padding-left: 14%;
        color: white;
        margin: auto;
    }
}

@media only screen and (min-width: 1201px){
    .about {
        width: 1200px;
        padding-top: 100px;
        font-family: Consolas, monaco, monospace;
        font-size: 20px;
        padding-left: 14%;
        color: white;
        margin: auto;
    }
}

/* CSS for Experience section */
.experience {
    width: 95%;
    margin: auto;
}

.spacer {
    margin-top: 25px;
    margin-bottom: 25px;
}

.project {
    width: 100%;
    height: 150px;
    background-color: #404040;
    box-shadow: 10px 10px 5px black;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
}

.picture > img {
    float: left;
    width: 150px;
    height: 150px;
}

.summary {
    padding-left: 5px;
    padding-right: 10px;
    width: 45%;
    overflow: auto;
    float: right;
    text-align: right;
}

.project-title {
    margin-top: 5px;
    margin-bottom: 0px;
    color: #6666ff;
    font-size: 80%;
}

.project-description {
    margin-top: 5px;
    color: white;
    font-size: 65%;
}

#fade-text {
    position: absolute;
    background: black;
    color: #fff;
    opacity:0;
    transition:1s;
    width: 95%;
    height: 150px;
    text-align: center;
    line-height: 80px;
    font-size: 60px;
}

@media only screen and (min-width: 800px) and (max-width:1200){
.experience {
    width: 1200px;
    margin: auto;
}

.spacer {
    margin-top: 25px;
    margin-bottom: 25px;
}

.project {
    width: 1200px;
    height: 400px;
    background-color: #404040;
    box-shadow: 10px 10px 5px black;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
}

.project:hover > #fade-text {
    opacity:.9;
}

.picture > img {
    float: left;
    width: 400px;
    height: 400px;
}

.summary {
    padding-left: 50px;
    padding-top: 50px;
    padding-right: 50px;
    width: 700px;
    height: 350px;
    float: right;
    text-align: right;
}

.project-title {

    color: #6666ff;
    font-size: 30px;
}

.project-description {
    color: white;
    font-size: 24px;
}

#fade-text {
    position: absolute;
    background: black;
    color: #fff;
    opacity:0;
    transition:1s;
    width: 1200px;
    height: 400px;
    text-align: center;
    line-height: 300px;
    font-size: 60px;
}
}

@media only screen and (min-width: 1201px){
.experience {
    width: 1200px;
    margin: auto;
}

.spacer {
    margin-top: 25px;
    margin-bottom: 25px;
}

.project {
    width: 1200px;
    height: 400px;
    background-color: #404040;
    box-shadow: 10px 10px 5px black;
    cursor: pointer;
    font-family: 'Quicksand', sans-serif;
}

.project:hover > #fade-text {
    opacity:.9;
}

.picture > img {
    float: left;
    width: 400px;
    height: 400px;
}

.summary {
    padding-left: 50px;
    padding-top: 50px;
    padding-right: 50px;
    width: 700px;
    height: 350px;
    float: right;
    text-align: right;
}

.project-title {

    color: #6666ff;
    font-size: 30px;
}

.project-description {
    color: white;
    font-size: 24px;
}

#fade-text {
    position: absolute;
    background: black;
    color: #fff;
    opacity:0;
    transition:1s;
    width: 1200px;
    height: 400px;
    text-align: center;
    line-height: 300px;
    font-size: 60px;
}
}

/* CSS for the closing remarks */
.closing {
    width: 800px;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}

.closing > p {
    font-family: 'Quicksand', sans-serif;
    font-size: 60px;
    color: white;
}

.closing img {
    width: 100px;
    height: 100px;
    padding-left: 25px;
    padding-right: 25px;
}

/* CSS for the footer */
.footer {
    background-color: #191919;
    height: 50px;
}

.footer-container {
    width: 1200px;
    margin: auto;
}

.quote {
    text-align: left;
}

.made {
    text-align: right;
}