    body, html {
    background-image: url("./img/background.jpg");
    margin: 0;
    padding: 0;
}

/* Different colors for fonts */
.red {
    color: #F92672;
}

.green {
    color: #A6E22E;
}

.blue {
    color: #66D9EF;
}

.purple {
    color: #AE81FF;
}

.orange {
    color: #FD971F;
}

.gray {
    color: #75715E;
}

.light-gray {
    color: #878376;
}

.yellow {
    color: #FFE792;
}

/* CSS for the navigation arrows to different sections */
.scroll {
    text-align: center;
    font-family: Consolas, monaco, monospace;
    font-weight: 400;
    color: white;
    cursor: default;
    padding-top: 50px;
    margin: 0px;
    font-size: 12px;
}

.arrow {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 24px;
    margin : 0px;
    cursor: default;
    text-align: center;
    padding-bottom: 100px;
    animation: bounce;
    animation-duration: 600ms;
    animation-timing-function: cubic-bezier(0.62, 0.19, 0.38, 0.79);
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(10%);
  }   
}

@-moz-keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(10%);
  }   
}

@-webkit-keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(10%);
  }   
}

@-o-keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(10%);
  }   
}

@media only screen and (min-width: 700px) and (max-width:1200px){
    .scroll {
        font-size: 24px;
        padding-top: 25%;
    }

    .arrow {
        font-size: 46px;
    }
}

@media only screen and (min-width: 1201px){
    .scroll {
        font-size: 20px;
        padding-top: 160px;
    }

    .arrow {
        font-size: 40px;
        padding-bottom: 200px;
    }
}

/* CSS for the home page in header */
.header {
    padding-top: 30%;
    margin: 0 auto;
    width: 80%;
    font-size: 26px;
    cursor: default;
}

.intro {
    font-family: 'VT323', monospace;
    color: white;
    text-align: left;
}

.role1 {
    font-family: 'Josefin Slab', serif;
    color: #F92672;
    text-align: left;
}

.role2 {
    font-family: 'Josefin Slab', serif;
    color: #AE81FF;
    text-align: left;
}

.name {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: #A6E22E;
    text-align: left;
}

@media only screen and (min-width: 700px) and (max-width:1200px){
    .header {
        padding-top: 20%;
        width: 55%;
        font-size: 280%;
    }
}

@media only screen and (min-width: 1201px){
    .header {
        padding-top: 120px;
        width: 400px;
        font-size: 44px;
    }
}

/* CSS for About section */
.about {
    width: 95%;
    padding-top: 50px;
    font-family: Consolas, monaco, monospace;
    font-size: 16px;
    color: white;
    margin: 0 auto;
    display: block;
    cursor: default;
}

.line-num {
    font-size: 14px;
    padding-left: 5px;
    padding-right: 10px;    
}

.indent > .line-num {
    padding-left: 5px;
    padding-right: 30px;
}

.line-num2 {
    font-size: 14px;
    padding-right: 10px;
}

.indent > .line-num2 {
    padding-right: 30px;
}

@media only screen and (min-width: 700px) and (max-width:1200px){
    .about {
        padding-top: 25%;
        font-family: Consolas, monaco, monospace;
        font-size: 160%;
        padding-left: 3%;
        color: white;
        margin: 0 auto;
    }

    .line-num {
        font-size: 20px;
        padding-left: 10px;
        padding-right: 15px;    
    }

    .indent > .line-num {
        padding-left: 10px;
        padding-right: 40px;
    }

    .line-num2 {
        font-size: 20px;
        padding-right: 12px;
    }

    .indent > .line-num2 {
        padding-right: 80px;
    }
}

@media only screen and (min-width: 1201px){
    .about {
        width: 1200px;
        padding-top: 100px;
        font-family: Consolas, monaco, monospace;
        font-size: 24px;
    }

    .line-num {
        font-size: 20px;
        padding-left: 10px;
        padding-right: 15px;    
    }

    .indent > .line-num {
        padding-left: 10px;        
        padding-right: 90px;
    }

    .line-num2 {
        font-size: 20px;
        padding-right: 12px;
    }

    .indent > .line-num2 {
        padding-right: 80px;
    }
}

/* CSS for Experience section */
.experience {
    width: 95%;
    margin: auto;
}

.spacer {
    margin-top: 25px;
    margin-bottom: 25px;
}

.project {
    position: relative;
    width: 100%;
    height: 150px;
    background-color: #404040;
    box-shadow: 10px 10px 5px black;
    font-family: 'Quicksand', sans-serif;
    overflow: auto;
    display: inline-block;
}

.picture > img {
    float: left;
    width: 150px;
    height: 150px;
}

.summary {
    padding-left: 5px;
    padding-right: 10px;
    text-align: right;
}

.project-title {
    margin-top: 5px;
    margin-bottom: 0px;
    color: #6666ff;
    font-size: 75%;
}

.project-description {
    margin-top: 5px;
    color: white;
    font-size: 70%;
}

.project-link {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 10px;
    margin-bottom: 15px;
    border: none;
    font-family: 'Roboto', sans-serif;
    background-color: #1769aa;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 5%;
    box-shadow: 1px 1px 10px #282828;
}

@media only screen and (min-width: 700px) and (max-width:1200px){
    .experience {
        width: 80%;
    }

    .project {
        width: 100%;
        height: 250px;
    }

    .picture > img {
        width: 250px;
        height: 250px;
    }

    .project-title {
        font-size: 160%;
    }

    .project-description {
        margin-top: 5px;
        color: white;
        font-size: 140%;
    }

    .summary {
        padding-left: 40%;
    }

    .project-link {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 140%;
    }
}

@media only screen and (min-width: 1201px){
    .experience {
        width: 1200px;
        margin: auto;
    }

    .project {
        width: 1200px;
        height: 400px;
    }

    .picture > img {
        width: 400px;
        height: 400px;
    }

    .summary {
        padding-left: 50px;
        padding-top: 50px;
        padding-right: 50px;
        width: 700px;
        height: 350px;
        float: right;
        text-align: right;
    }

    .project-title {
        font-size: 30px;
    }

    .project-description {
        font-size: 24px;
    }

    .project-link {
        margin-right: 50px;
        margin-bottom: 50px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 140%;
    }
}
/* CSS for the skills section */
.skills {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 40px;
    color: white;
    padding-top: 100px;
}

.skills-container {
    background-color: #404040;
    width: 90%;
    margin:auto;
    padding-top: 5px;
    box-shadow: 10px 10px 5px black;
    padding-bottom: 10px;
}

.skills-container img {
    width: 100px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
}

@media only screen and (min-width: 700px) and (max-width:1200px){
    .skills-container {
        width: 80%;
    }
}

@media only screen and (min-width: 1201px){
    .skills-container {
        width: 1200px;
    }
}


/* CSS for the closing remarks */
.closing {
    width: 80%;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}

.closing > p {
    font-family: 'Quicksand', sans-serif;
    font-size: 40px;
    color: white;
}

.closing img {
    width: 50px;
    height: 50px;
    padding-left: 12px;
    padding-right: 12px;
}